/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0;

}

nav{
    background-image: linear-gradient(rgb(180, 160, 160), gray);
   

}
.divider{
    display: flex;
    justify-content: space-between;
}
.left img{
    margin-left: 100px;
}
.left{
    padding-left: 30px;
}
.right{
    padding-right: 20px;
    align-items: center;
    margin-left: 20px;
}
.right a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.right > img{
    margin-top: 15px;
    border-radius: 20px;
}
.fa-sign-out-alt{
    font-size: 40px;
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    
}
.container{
    background-color: #FFFFFF;
    padding: 30px;
    width: 870px;
    margin-top: 21px;
    border-radius: 5px;
    
    
}
.section-title{
    color: #562EFF;
    margin-top: 3px;

}



/* top player stytle */
.top-players{
    margin-bottom: 30px; 
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


 /* -------------------
    TOP BLOGS   
 --------------- */

 .blogs{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
 }

 .blog{
    display: flex;
 }
 .blog .thumbnail img{
    width: 177px;
    height: 117px;
 }
 .blog-info{
     margin-left: 16px;
 }
 .blog-title{
     font-size: 20px;
 }
 .author{
    color: #9F9F9F;
    font-size: 16px;
 }
 .author a{
     text-decoration: none;
     color: #562EFF;
     font-size: 16px;
 }

 /*-----------------
 ------ Courses style -------
 ------------------------- */
 .courses{
    display: flex;
    justify-content: space-between;
 }

 .banner img{
    width: 224px;
    height: 104px;


 }

 .course-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }


 .fa-star.filled{

    color: #FFC014;;
 }
 .fa-star.emty{
    color: #AEAEAE;
 }
 .fa-star{
     font-size: 12px;
 }



 footer{
     margin-top: 21px;
     background-color: black;
     color: white;
     text-align: center;
     height: 60px;
     padding-top: 30px;
     padding-bottom: 20px;
     
     
     
 }
 

 .footer span{
     color: red;
 }

 
 /* -------------------
    Media Query - [Mobile Devices]  
 --------------- */
@media only screen and (max-width:688px) {

    .left{
        width: 100%;
        padding:0;
        margin:0;

    }
    .right a{
        text-decoration: none;
        font-size: 15px;
        padding-right: 3px;
    }
    .left img{
        margin-left: 0;
        padding-left: 10px;
        
    }

    .icon-name{
        padding-right: 20px;
    }
    .fa-lightbulb{
        padding-left: 15px;
    }
 
   
    .right{
        width: 100%;
        padding: 0;
        margin: 0;
    }

 
    .section-title{
        text-align: center;
        margin-top: 30px;
    }
    .container {
        width: 100%;
        
            
            
    }
    
    .players, .player, .blogs{ 
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
    }
    .courses{
        text-align: center;
        flex-direction: column;
        
    }
    .course-info{
        flex-direction: column;
        
    }
    .course{
        margin-top: 80px;
    }
   
  


    
    
  
    
        
    
    footer{
        width: 100%;
    }
    

    
}

